<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="">


</head>
<body>


<div class="container-fluid">

    <h1>Welcome home</h1>
    
    <a href="/logout">Log-out</a>
    
    
    


</div>
    
    
    
<div class="container-fluid">




     <% userPosts.forEach(function(item){ %>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%= item.author %></h4>
            <h6 class="card-title"><%= item.date %></h6>
            <p class="card-text"> <%= item.content %> </p>
            <a href="#" class="card-link">likes<%= item.likes %></a>
            <a href="#" class="card-link">comments<%= item.comments %></a>
        </div>
    </div>

    <% }); %>




          
    
    
  



</div>
    
    
    
    
</body>
</html>